@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    scrollbar-gutter: stable;
  }
  
  html, body {
    @apply bg-background text-text-main;
    max-width: 100vw;
  }
}

/* Retro Scrollbar */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-track {
  @apply bg-surfaceHighlight;
}
::-webkit-scrollbar-thumb {
  @apply bg-text-muted/30 rounded-full border-2 border-background;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-primary/50;
}

.monaco-editor {
  padding-top: 10px;
}